body {
  font-family: "Roboto";
}

body.drawer-open {
  overflow-y: hidden;
}

a.secondary-button {
  border: 1px solid var(--theme-ui-colors-secondary);
  border-radius: 4px;
  color: var(--theme-ui-colors-secondary);
  display: inline-block;
  padding: 4px 8px;
  text-decoration: none;
  transition: all 0.5s ease;
}

a.secondary-button:hover {
  background-color: rgba(255, 87, 34, 0.1);
}

a.secondary-button:active {
  background-color: rgba(255, 87, 34, 0.2);
}

a.icon-button {
  align-items: center;
  display: flex;
  border-radius: 4px;
  height: 32px;
  justify-content: center;
  transition: all 0.5s ease;
  width: 32px;
}

a.text-button.icon-button {
  color: inherit;
  padding: 0 8px;
  text-decoration: none;
  width: auto;
}

a.text-button.icon-button svg {
  margin-left: 8px;
}

a.icon-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

a.icon-button:active {
  background-color: rgba(0, 0, 0, 0.2);
}

a.icon-button > svg {
  height: 24px;
  width: 24px;
}
